body {
  background-image: url('https://www.publicdomainpictures.net/pictures/100000/nahled/geometric-pattern-3d-blocks.jpg');
  font-family: Arial;
  text-align: center;
}
td {
  font-size: 18px;
}
th {
  font-size: 36px;
}
table, th, td, tbody, thead, tfoot {
  border: 2px solid black;
  background-color: white;
  opacity: 1;
}
table {
 height: 500px;
 width: 750px;
}
